
.App{
  width: 100%;
}
.navBars{
  position:fixed; 
  padding: 12px;
  width: 100%;
  background-color: rgb(230, 230, 253);
  /* border: 2px solid blueviolet; */
  height: 5vh;
  align-items: center;
  z-index: 1000

}
.homepage{
 align-items: center;
  background-image: linear-gradient(to bottom,#d8e2e6 , white);
}
.userpic{
  margin-top: 10%;
}
.userDetals {
  text-align: start;
 align-self: center;
 width: 100%;
 height: 100%;
 margin-top:15%;
 
}
.user{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.skillcntr{
  padding: 15px;
  justify-content: space-around;
}
.skill{
  background-color:#F5FCFF;
  border-radius: 5px;
  padding: 15px;
  border-bottom: 4px solid #a2f7fa;
  
}
.skills {
  padding: 25px;
  text-align:start;


}
.protiHead{
  width: 100%;
}
.portFolio{
  width: 100%;
}



@media (max-width:768px) { 

  .navBars{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20vh;
    position: fixed;

  }
  .homepage{
    width: 100%; 
   align-items: center;
    background-image: linear-gradient(to bottom,#d8e2e6 , white);
  }
   
   

  .userDetals {
   text-align: start;
   align-self: center;
   width: 100%;
   height: 100%;
   margin-top:30vh;
   
  }
  .protFolioNav{
    
  }
}
